# Git
.git
.gitignore

# Docker
.docker

# Python
user_watch_management/__pycache__/
user_watch_management/*/__pycache__/
user_watch_management/*/*/__pycache__/
user_watch_management/*/*/*/__pycache__/
.env/
.venv/
venv/

# Local PostgreSQL data
data/
